.container{
    margin: auto;
    width: 80%;
    border: 1px solid gray;
    padding: 10px
}
.todos{
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 5px 5px;
}
.search-container{
    display: flex;
    justify-content: space-between;
}
.search-form{
    flex-grow: 1;
}
.search-load{
    /* flex-grow: 1 */
}